@page "/CancelCheckout/{artworkId:int}"
@inherits SvgComponentBase
@inject NavigationManager Nav

<div class="fullscreen-spinner">
    <div class="loading-progress">
        <div class="square" style="background-color:#e74c3c;"></div>
        <div class="square" style="background-color:#e67e22;"></div>
        <div class="square" style="background-color:#c0392b;"></div>
        <div class="square" style="background-color:#f1c40f;"></div>
    </div>
</div>
