@page "/Login/{id:guid}"
@inject NavigationManager Nav

<div class="fullscreen-spinner">
    <div class="loading-progress">
        <div class="square" style="background-color:#0303ed;"></div>
        <div class="square" style="background-color:#7403ed;"></div>
        <div class="square" style="background-color:#03e3df;"></div>
        <div class="square" style="background-color:#ed03d1;"></div>
    </div>
</div>
